.welcome {
  font-weight: lighter;
  text-align: center;
}

::ng-deep .p-button {
  width: 100%;
  justify-content: center;
}

/* SMARTPHONES */
@media (max-width: 767px) {
  .welcome {
    font-weight: lighter;
    text-align: center;
    width: 80%;
  }
}